<div class="trip-comments">
  <div class="heading">
    <h3>Trip Comments &nbsp;<%= fa_icon "comment"%></h3>
  </div>
  <div class="comments">
  </div>
  <div class="bottom">
    <input type="text" placeholder="comment about this trip">
  </div>
</div>