  <div class="row no-gutters">
    <div class="col-sm-2">
     <%= render 'sidebar' %>
   </div>
   <div class="center">
      <div class="col-sm-7 text-center">
        <div class="col-sm-4 col-sm-offset-4 home">
          <h1>Don't have an trip yet?</h1>
          <%= link_to "Create New Trip", new_event_path, class: "btn btn-success"%>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render 'chat' %>
    </div>
  </div>
