  <div class="row no-gutters">
    <div class="col-sm-2">
     <%= render 'sidebar' %>
   </div>
   <div class="center">
      <div class="col-sm-7 text-center">
        <div class="col-sm-5 col-sm-offset-3 home">
          <h1>You have no upcoming trips</h1>
          <h1>Why don't you create one?</h1>
          <%= link_to "Create a Trip", new_event_path, class: "btn btn-info logo2"%>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render 'chat' %>
    </div>
  </div>
